{{ 'music-releases.css' | asset_url | stylesheet_tag }}

<section class="music-releases">
  <div class="music-releases--container">
    <h3 class="music-releases--heading">{{ section.settings.heading }}</h3>
    <div class="music-releases--grid">
      {% for block in section.blocks %}
        {% assign image = block.settings.image %}
        <div class="music-releases--item">
          {% if image %}
            <img
              class="music-releases--image"
              height="auto"
              loading="lazy"
              src="{{ image | image_url }}"
              srcset="
                {%- if image.width >= 100 -%}{{ image | image_url: width: 100 }} 100w,{%- endif -%}
                {%- if image.width >= 200 -%}{{ image | image_url: width: 200 }} 200w,{%- endif -%}
                {%- if image.width >= 400 -%}{{ image | image_url: width: 400 }} 400w,{%- endif -%}
                {%- if image.width >= 800 -%}{{ image | image_url: width: 800 }} 800w,{%- endif -%}
                {%- if image.width >= 1600 -%}{{ image | image_url: width: 1600 }} 1600w,{%- endif -%}
                {{ image | image_url }} {{ image.width }}w
              "
              width="auto"
            >
          {% endif %}
          <p class="music-releases--title">{{ block.settings.title }}</p>
          <p class="music-releases--subtitle">{{ block.settings.subtitle }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Music Releases",
  "settings": [
    {
      "default": "Key Releases",
      "id": "heading",
      "label": "Heading",
      "type": "text"
    }
  ],
  "blocks": [
    {
      "type": "release",
      "name": "Release",
      "settings": [
        {
          "id": "image",
          "label": "Image",
          "type": "image_picker"
        },
        {
          "default": "Album Title",
          "id": "title",
          "label": "Title",
          "type": "text"
        },
        {
          "default": "Artist Name",
          "id": "subtitle",
          "label": "Subtitle",
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
