{{ 'sport-products.css' | asset_url | stylesheet_tag }}

<section class="sport-products" id="{{ section.id }}">
  <div class="sport-products--container">
    {% if section.settings.heading %}
      <h3 class="sport-products--heading">{{ section.settings.heading }}</h3>
    {% endif %}
    <div class="sport-products--blocks swiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'product_block' %}
              <a
                class="sport-products--block sport-products--product swiper-slide"
                href="{{ block.settings.product.url }}"
              >
                {% if block.settings.product.featured_image %}
                  {{
                    block.settings.product.featured_image
                    | image_url: width: 166
                    | image_tag: class: 'sport-products--product-image', loading: 'lazy'
                  }}
                {% else %}
                  {{ block.settings.product }}
                {% endif %}
              </a>
            {% when 'info_block' %}
              <div class="sport-products--block sport-products--info swiper-slide">
                {% if block.settings.icon %}
                  <span class="sport-products--info-icon">{{ block.settings.icon }}</span>
                {% endif %}
                {% if block.settings.title %}
                  <p class="sport-products--info-title">{{ block.settings.title }}</p>
                {% endif %}
                {% if block.settings.description %}
                  <p class="sport-products--info-description">{{ block.settings.description }}</p>
                {% endif %}
              </div>
          {% endcase %}
        {% endfor %}
      </div>
      <div class="sport-products--dots swiper-pagination"></div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    new Swiper(`#{{ section.id }} .swiper`, {
      pagination: {
        bulletActiveClass: 'sport-products--dot--active',
        bulletClass: 'sport-products--dot',
        clickable: true,
        el: '.sport-products--dots',
      },
      slidesPerGroup: 4,
      slidesPerView: 4,
      spaceBetween: 16,
    });
  });
</script>

{% schema %}
{
  "name": "Sport Products",
  "settings": [
    {
      "id": "heading",
      "label": "Heading",
      "type": "text"
    }
  ],
  "blocks": [
    {
      "name": "Product Block",
      "type": "product_block",
      "settings": [
        {
          "id": "product",
          "label": "Product",
          "type": "product"
        }
      ]
    },
    {
      "name": "Info Block",
      "type": "info_block",
      "settings": [
        {
          "id": "icon",
          "label": "Icon",
          "type": "text"
        },
        {
          "id": "title",
          "label": "Title",
          "type": "text"
        },
        {
          "id": "description",
          "label": "Description",
          "type": "textarea"
        }
      ]
    }
  ]
}
{% endschema %}
